Repository nulltea/kicksware-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

api.build:
  image: docker/compose:1.25.0
  services:
  - docker:18.09-dind
  stage: build
  tags:
  - k8s
  - api
  variables:
    DOCKER_HOST: tcp://localhost:2375
  allow_failure: true
  before_script:
  - docker version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_TOKEN $CI_REGISTRY
  script:
  - docker-compose build
  ...

api.test:
  stage: test
  tags:
  - k8s
  - api
  before_script:
  - printf "\e[32mTODO"
  script:
  - echo -e "\e[33mYou should implement test... \e[91mI am serisous, dude - \e[1mTESTS ARE IMPORTANT!"

users.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

references.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

products.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

search.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

orders.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

cdn.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_REGISTRY_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

feat (mail) newsletter subscribe & unsubscribe rpc's added + db config refactored
  .gitlab-ci.yml
  beta-service/beta-chart/templates/deployment.yaml
  cdn-service/cdn-chart/templates/deployment.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/deployment.yaml
  product-service/products-chart/templates/deployment.yaml
  reference-service/references-chart/templates/deployment.yaml
  search-service/search-chart/templates/deployment.yaml
  service-protos/mail.proto
  user-service/api/gRPC/gateway.go
  user-service/api/gRPC/mail.go
  user-service/api/gRPC/proto/auth.pb.go
  user-service/api/gRPC/proto/interact.pb.go
  user-service/api/gRPC/proto/mail.pb.go
  user-service/api/gRPC/proto/user.pb.go
  user-service/container/config/containerConfig.go
  user-service/container/factory/repositoryFactory.go
  user-service/container/factory/usecaseServiceFacrory.go
  user-service/core/model/mailSubscription.go
  user-service/core/model/remoteAuth.go
  user-service/core/repo/subscriptionRepository.go
  user-service/core/service/mailService.go
  user-service/env/config.dev.yaml
  user-service/env/config.k8s.yaml
  user-service/env/config.prod.yaml
  user-service/env/serviceConfig.go
  user-service/usecase/business/mailService.go
  user-service/usecase/storage/mongo/remoteRepository.go
  user-service/usecase/storage/mongo/repository.go
  user-service/usecase/storage/mongo/subscriptionRepository.go
  user-service/usecase/storage/postgres/likesRepository.go
  user-service/usecase/storage/postgres/repository.go
  user-service/usecase/storage/redis/repository.go
  user-service/users-chart/values.yaml
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

ci (users) html mail templates config map creation fixed
  .gitlab-ci.yml
Due: api.build, api.test

ci (users) html mail templates config map creation fixed
  user-service/template/notify.template.html
Due: api.build, api.test, users.deploy.k8s

ci (users) html mail templates config map creation fixed
  .gitlab-ci.yml
  user-service/startup/startup.go
Due: api.build, api.test, users.deploy.k8s

feat (common) common response type and proto message added
  service-common/api/proto/cast.go
  service-common/api/proto/common.pb.go
  service-common/core/meta/commonResponse.go
  service-protos/common.proto
  service-protos/mail.proto
Due: api.build, api.test

feat (mail) newsletter subscribe rpc WIP
  user-service/api/gRPC/mail.go
  user-service/api/gRPC/proto/mail.pb.go
  user-service/go.mod
  user-service/go.sum
  user-service/usecase/storage/mongo/subscriptionRepository.go
Due: api.build, api.test, users.deploy.k8s

feat (auth) GitHub OAuth provider added + remote repository fixed
  user-service/core/model/userProviderModel.go
  user-service/usecase/storage/mongo/remoteRepository.go
Due: api.build, api.test, users.deploy.k8s

feat (web) mobile views responsiveness WIP
  order-service/usecase/business/orderService.go
  reference-service/usecase/business/sneakerReferenceService.go
Due: api.build, api.test, references.deploy.k8s, orders.deploy.k8s

feat (products) gRPC upload image rpc implemented
  product-service/api/gRPC/handler.go
Due: api.build, api.test, products.deploy.k8s

feat (users) secure guest token provision implemented using MD5 hash passcode
  service-protos/auth.proto
  user-service/api/gRPC/auth.go
  user-service/api/gRPC/proto/auth.pb.go
  user-service/api/rest/auth.go
  user-service/core/model/userModel.go
  user-service/core/service/authService.go
  user-service/env/serviceConfig.go
  user-service/usecase/business/authServiceJTW.go
Due: api.build, api.test, users.deploy.k8s

feat (common) secure guest token access implemented using MD5 hash passcode
  service-common/api/gRPC/authClientInterceptor.go
  service-common/api/rest/authService.go
  service-common/config/commonConfig.go
  service-common/core/authService.go
  service-common/go.mod
  service-common/go.sum
Due: api.build, api.test

feat (common) secure guest token access implemented using MD5 hash passcode
  service-common/go.mod
Due: api.build, api.test

feat (api) secure guest token access configured using MD5 hash passcode
  cdn-service/env/config.dev.yaml
  cdn-service/env/config.k8s.yaml
  cdn-service/env/config.prod.yaml
  cdn-service/go.mod
  cdn-service/go.sum
  order-service/env/config.dev.yaml
  order-service/env/config.k8s.yaml
  order-service/env/config.prod.yaml
  order-service/go.mod
  order-service/go.sum
  product-service/env/config.dev.yaml
  product-service/env/config.k8s.yaml
  product-service/env/config.prod.yaml
  product-service/go.mod
  product-service/go.sum
  reference-service/env/config.dev.yaml
  reference-service/env/config.k8s.yaml
  reference-service/env/config.prod.yaml
  reference-service/go.mod
  reference-service/go.sum
  search-service/container/factory/pipeFactory.go
  search-service/env/config.dev.yaml
  search-service/env/config.k8s.yaml
  search-service/env/config.prod.yaml
  search-service/go.mod
  search-service/go.sum
  search-service/usecase/pipes/gRPC/sneakerReferencePipeGRPC.go
  user-service/env/config.dev.yaml
  user-service/env/config.k8s.yaml
  user-service/env/config.prod.yaml
  user-service/go.mod
  user-service/go.sum
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (orders) secure guest token access configured using MD5 hash passcode
  order-service/container/factory/pipeFactory.go
  order-service/go.mod
Due: api.build, api.test, orders.deploy.k8s

git (readme) logo asset updated
  assets/repo-logo.png
Due: none

feat (api) hpa enabled
  .gitlab-ci.yml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/values.yaml
  product-service/products-chart/values.yaml
  reference-service/api/gRPC/handler.go
  reference-service/references-chart/values.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/values.yaml
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) hpa enabled
  beta-service/beta-chart/templates/hpa.yaml
  cdn-service/cdn-chart/templates/hpa.yaml
  order-service/orders-chart/templates/hpa.yaml
  product-service/products-chart/templates/hpa.yaml
  reference-service/references-chart/templates/hpa.yaml
  search-service/search-chart/templates/hpa.yaml
  user-service/users-chart/templates/hpa.yaml
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) hpa enabled
  .gitlab-ci.yml
  beta-service/beta-chart/templates/hpa.yaml
  cdn-service/cdn-chart/templates/hpa.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/hpa.yaml
  order-service/orders-chart/values.yaml
  product-service/products-chart/templates/hpa.yaml
  reference-service/references-chart/templates/hpa.yaml
  search-service/search-chart/templates/hpa.yaml
  user-service/users-chart/templates/hpa.yaml
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) hpa enabled and configured by avarage value
  .gitlab-ci.yml
  beta-service/beta-chart/templates/hpa.yaml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/templates/hpa.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/hpa.yaml
  product-service/products-chart/templates/hpa.yaml
  product-service/products-chart/values.yaml
  reference-service/references-chart/templates/hpa.yaml
  reference-service/references-chart/values.yaml
  search-service/search-chart/templates/hpa.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/templates/hpa.yaml
  user-service/users-chart/values.yaml
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) hpa utilization configured
  beta-service/beta-chart/templates/deployment.yaml
  beta-service/beta-chart/templates/hpa.yaml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/templates/deployment.yaml
  cdn-service/cdn-chart/templates/hpa.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/deployment.yaml
  order-service/orders-chart/templates/hpa.yaml
  order-service/orders-chart/values.yaml
  product-service/products-chart/templates/deployment.yaml
  product-service/products-chart/templates/hpa.yaml
  product-service/products-chart/values.yaml
  reference-service/references-chart/templates/deployment.yaml
  reference-service/references-chart/templates/hpa.yaml
  reference-service/references-chart/values.yaml
  search-service/search-chart/templates/deployment.yaml
  search-service/search-chart/templates/hpa.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/templates/deployment.yaml
  user-service/users-chart/templates/hpa.yaml
  user-service/users-chart/values.yaml
  vanity-service/vanity-chart/templates/ingress.yaml
  vanity-service/vanity-chart/values.yaml
Due: api.build, api.test, users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

git (web) health check updated in readme badge
  README.md
Due: none

feat (common) rabbitmq base pub/sup even bus model implemented
  beta-service/api/amqp/handler.go
  beta-service/core/service/authService.go
  beta-service/go.mod
  beta-service/go.sum
  service-common/api/events/eventBus.go
  service-common/api/events/publish.go
  service-common/api/events/subscribe.go
  service-common/config/commonConfig.go
  service-common/go.mod
  service-common/go.sum
  service-common/util/util.go
  user-service/go.mod
  user-service/go.sum
Due: api.build, api.test, users.deploy.k8s

git (readme) more section added
  README.md
Due: none

feat (common) event bus implementation WIP
  README.md
  search-service/go.mod
  search-service/go.sum
  service-common/api/events/eventBus.go
  service-common/api/events/publish.go
  service-common/config/commonConfig.go
Due: none

feat (rating) rating service base implementation added with eventbus API
  rating-service/api/events/handler.go
  rating-service/container/config/containerConfig.go
  rating-service/container/factory/eventBusFactory.go
  rating-service/container/factory/repositoryFactory.go
  rating-service/container/factory/serverFactory.go
  rating-service/container/factory/usecaseServiceFacrory.go
  rating-service/core/model/ratingModel.go
  rating-service/core/repo/ratingRepository.go
  rating-service/core/service/ratingSerializer.go
  rating-service/core/service/ratingService.go
  rating-service/docker/.dockerignore
  rating-service/docker/Dockerfile
  rating-service/env/.env.dev
  rating-service/env/.env.prod
  rating-service/env/config.dev.yaml
  rating-service/env/config.k8s.yaml
  rating-service/env/envConfig.go
  rating-service/env/serviceConfig.go
  rating-service/go.mod
  rating-service/go.sum
  rating-service/main.go
  rating-service/rating-chart/.helmignore
  rating-service/rating-chart/Chart.yaml
  rating-service/rating-chart/templates/NOTES.txt
  rating-service/rating-chart/templates/_helpers.tpl
  rating-service/rating-chart/templates/configmap.yaml
  rating-service/rating-chart/templates/deployment.yaml
  rating-service/rating-chart/templates/hpa.yaml
  rating-service/rating-chart/templates/ingress.yaml
  rating-service/rating-chart/templates/pvc.yaml
  rating-service/rating-chart/templates/service.yaml
  rating-service/rating-chart/templates/serviceaccount.yaml
  rating-service/rating-chart/values.yaml
  rating-service/startup/startup.go
  rating-service/usecase/business/ratingService.go
  rating-service/usecase/business/ratingSorter.go
  rating-service/usecase/serializer/json/serializer.go
  rating-service/usecase/serializer/msg/serializer.go
  rating-service/usecase/storage/mongo/repository.go
Due: api.build, api.test

feat (common) events common logic WIP
  service-common/api/events/broker.go
  service-common/api/events/handler.go
  service-common/api/events/publish.go
  service-common/api/events/subscribe.go
  service-common/core/serializer.go
Due: api.build, api.test

feat (common) events common logic WIP
  service-common/api/events/broker.go
  service-common/api/events/consume.go
  service-common/api/events/emmit.go
  service-common/api/events/handler.go
  service-common/core/handler.go
  service-common/core/server.go
  service-common/server/server.go
Due: api.build, api.test

Update README.md
  README.md
Due: none

Simplify deploy
  Makefile
Due: api.build, api.test

Migrate to go1.17
  go.mod
Due: api.build, api.test

Deployment update
  Makefile
  deploy/config/elasticsearch.yaml
  go.sum
  services/cdn/api/rest/handler.go
  services/cdn/cdn-chart/templates/ingress.yaml
  services/cdn/cdn-chart/templates/pvc.yaml
  services/cdn/cdn-chart/values.yaml
  services/cdn/docker/Dockerfile
  services/cdn/env/config.k8s.yaml
  services/cdn/env/config.prod.yaml
  services/cdn/usecase/business/contentService.go
  services/orders/env/config.k8s.yaml
  services/orders/env/config.prod.yaml
  services/orders/orders-chart/templates/ingress.yaml
  services/orders/orders-chart/values.yaml
  services/products/env/config.k8s.yaml
  services/products/env/config.prod.yaml
  services/products/products-chart/templates/ingress.yaml
  services/products/products-chart/values.yaml
  services/rating/env/config.k8s.yaml
  services/rating/rating-chart/templates/ingress.yaml
  services/references/env/config.dev.yaml
  services/references/env/config.k8s.yaml
  services/references/env/config.prod.yaml
  services/references/references-chart/templates/ingress.yaml
  services/references/references-chart/values.yaml
  services/search/env/config.k8s.yaml
  services/search/search-chart/templates/ingress.yaml
  services/search/search-chart/values.yaml
  services/users/docker/Dockerfile
  services/users/env/config.dev.yaml
  services/users/env/config.k8s.yaml
  services/users/env/config.prod.yaml
  services/users/users-chart/templates/ingress.yaml
  services/users/users-chart/values.yaml
Due: api.build, api.test

Update Readme
  README.md
  go.sum
  services/rating/go.sum
Due: none

Path conditions:
  api.build: not (any of: *.md, assets/**/*)
  api.test: not (any of: *.md, assets/**/*)
  users.deploy.k8s: (any of: user-service/**/*) and (not (any of: *.md, assets/**/*))
  references.deploy.k8s: (any of: reference-service/**/*) and (not (any of: *.md, assets/**/*))
  products.deploy.k8s: (any of: product-service/**/*) and (not (any of: *.md, assets/**/*))
  search.deploy.k8s: (any of: search-service/**/*) and (not (any of: *.md, assets/**/*))
  orders.deploy.k8s: (any of: order-service/**/*) and (not (any of: *.md, assets/**/*))
  cdn.deploy.k8s: (any of: cdn-service/**/*) and (not (any of: *.md, assets/**/*))
