Repository nulltea/kicksware-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

users.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

references.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

products.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

search.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

orders.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

cdn.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

fix (orders) rest handler error fixed
  order-service/api/gRPC/proto/orders.pb.go
  order-service/api/rest/handler.go
  order-service/core/model/orderModel.go
  order-service/core/model/orderStatusModel.go
  order-service/usecase/business/orderService.go
  service-protos/orders.proto
Due: orders.deploy.k8s

fix (orders) gRPC service WIP
  order-service/container/config/containerConfig.go
  order-service/container/factory/pipeFactory.go
  order-service/container/factory/serverFactory.go
  order-service/container/factory/usecaseServiceFacrory.go
  order-service/env/.env.dev
  order-service/env/.env.prod
  order-service/env/config.dev.yaml
  order-service/env/config.k8s.yaml
  order-service/env/config.prod.yaml
  order-service/env/serviceConfig.go
  order-service/go.mod
  order-service/go.sum
Due: orders.deploy.k8s

fix (orders) config WIP
  order-service/env/config.dev.yaml
  order-service/env/config.k8s.yaml
  order-service/env/config.prod.yaml
Due: orders.deploy.k8s

feat (common) inner service communcation REST-based mechanism added
  service-common/api/rest/innerServiceCommunicator.go
  service-common/config/commonConfig.go
  service-common/core/authService.go
  service-common/core/communicator.go
  service-common/service/rest/authService.go
Due: none

feat (common) common config types added
  service-common/config/commonConfig.go
Due: none

feat (common) common service packege renamed
  service-common/service/rest/authService.go
Due: none

feat (common) api packages refactored
  service-common/api/http/params.go
  service-common/api/rest/params.go
Due: none

ci (api) build stage exception rules updated
  .gitlab-ci.yml
Due: none

feat (common) common data config prooperties added
  service-common/config/commonConfig.go
Due: none

feat (common) call target url format implemented
  service-common/api/rest/innerServiceCommunicator.go
  service-common/core/communicator.go
Due: none

feat (auth) token redirection to request params for inner communaction usage
  service-common/api/rest/innerServiceCommunicator.go
  service-common/config/commonConfig.go
  service-common/core/communicator.go
  service-common/core/meta/requestParams.go
  service-common/util/util.go
Due: none

feat (common) gRPC client interseptor context token retieval implemented + packages refactoring
  service-common/api/JWT/jwtManager.go
  service-common/api/REST/authMiddlewares.go
  service-common/api/REST/authService.go
  service-common/api/REST/innerServiceCommunicator.go
  service-common/api/REST/paramsRetriever.go
  service-common/api/gRPC/authClientInterceptor.go
  service-common/api/gRPC/authServerInterceptor.go
  service-common/api/gRPC/transportCredentials.go
  service-common/server/server.go
  service-common/util/util.go
Due: none

feat (common) gRPC client interseptor context token retieval WIP
  service-common/api/REST/innerServiceCommunicator.go
  service-common/util/util.go
Due: none

feat (common) packages refactoring
  service-common/api/gRPC/authServerInterceptor.go
  service-common/api/jwt/jwtManager.go
  service-common/api/rest/authMiddlewares.go
  service-common/api/rest/authService.go
  service-common/api/rest/innerServiceCommunicator.go
  service-common/api/rest/paramsRetriever.go
  service-common/core/server.go
  service-common/server/server.go
Due: none

feat (auth) token expire date is zero check added
  service-common/api/gRPC/authClientInterceptor.go
Due: none

feat (auth) token append into outgoing context added in gRPC interceptor
  service-common/api/gRPC/authServerInterceptor.go
Due: none

feat (references) foreign queries handlng updated via inner service communicator
  reference-service/api/gRPC/handler.go
  reference-service/api/gRPC/proto/cast.go
  reference-service/api/gRPC/proto/reference.pb.go
  reference-service/api/rest/auth.go
  reference-service/api/rest/gateway.go
  reference-service/api/rest/handler.go
  reference-service/container/config/containerConfig.go
  reference-service/container/factory/gatewayHandlerFactory.go
  reference-service/container/factory/usecaseServiceFacrory.go
  reference-service/core/model/sneakerReferenceModel.go
  reference-service/core/service/authService.go
  reference-service/env/config.dev.yaml
  reference-service/env/config.k8s.yaml
  reference-service/env/config.prod.yaml
  reference-service/env/serviceConfig.go
  reference-service/go.mod
  reference-service/go.sum
  reference-service/usecase/business/authService.go
  reference-service/usecase/business/sneakerReferenceService.go
  reference-service/usecase/storage/mongo/repository.go
  reference-service/usecase/storage/postgres/repository.go
  search-service/usecase/pipes/REST/sneakerReferencePipeHTTP.go
  service-common/api/rest/authMiddlewares.go
  service-common/api/rest/innerServiceCommunicator.go
  service-common/config/commonConfig.go
  service-protos/reference.proto
Due: references.deploy.k8s, search.deploy.k8s

feat (go) vanity import services added and configured
  vanity-service/.gitignore
  vanity-service/Dockerfile
  vanity-service/vanity-chart/.helmignore
  vanity-service/vanity-chart/Chart.yaml
  vanity-service/vanity-chart/templates/NOTES.txt
  vanity-service/vanity-chart/templates/_helpers.tpl
  vanity-service/vanity-chart/templates/configmap.yaml
  vanity-service/vanity-chart/templates/deployment.yaml
  vanity-service/vanity-chart/templates/ingress.yaml
  vanity-service/vanity-chart/templates/service.yaml
  vanity-service/vanity-chart/values.yaml
Due: none

test (beta) vanity import test
  beta-service/api/gRPC/gateway.go
  beta-service/api/gRPC/handler.go
  beta-service/api/gRPC/proto/cast.go
  beta-service/api/rest/handler.go
  beta-service/api/rest/params.go
  beta-service/container/config/containerConfig.go
  beta-service/container/factory/gatewayHandlerFactory.go
  beta-service/container/factory/repositoryFactory.go
  beta-service/container/factory/serverFactory.go
  beta-service/container/factory/usecaseServiceFacrory.go
  beta-service/core/meta/requestParams.go
  beta-service/core/repo/betaRepository.go
  beta-service/core/service/betaSerializer.go
  beta-service/core/service/betaService.go
  beta-service/go.mod
  beta-service/main.go
  beta-service/startup/startup.go
  beta-service/usecase/business/authService.go
  beta-service/usecase/business/betaService.go
  beta-service/usecase/serializer/json/serializer.go
  beta-service/usecase/serializer/msg/serializer.go
  beta-service/usecase/storage/mongo/repository.go
  beta-service/usecase/storage/postgres/repository.go
Due: none

test (beta) vanity import test 2
  beta-service/api/gRPC/gateway.go
  beta-service/api/gRPC/handler.go
  beta-service/api/gRPC/proto/cast.go
  beta-service/api/rest/handler.go
  beta-service/api/rest/params.go
  beta-service/container/config/containerConfig.go
  beta-service/container/factory/gatewayHandlerFactory.go
  beta-service/container/factory/repositoryFactory.go
  beta-service/container/factory/serverFactory.go
  beta-service/container/factory/usecaseServiceFacrory.go
  beta-service/core/meta/requestParams.go
  beta-service/core/repo/betaRepository.go
  beta-service/core/service/betaSerializer.go
  beta-service/core/service/betaService.go
  beta-service/go.mod
  beta-service/main.go
  beta-service/startup/startup.go
  beta-service/usecase/business/authService.go
  beta-service/usecase/business/betaService.go
  beta-service/usecase/serializer/json/serializer.go
  beta-service/usecase/serializer/msg/serializer.go
  beta-service/usecase/storage/mongo/repository.go
  beta-service/usecase/storage/postgres/repository.go
  vanity-service/vanity-chart/values.yaml
Due: none

ref (common) venity import for service-common assigned
  service-common/api/gRPC/authClientInterceptor.go
  service-common/api/gRPC/authServerInterceptor.go
  service-common/api/gRPC/transportCredentials.go
  service-common/api/proto/cast.go
  service-common/api/rest/authMiddlewares.go
  service-common/api/rest/authService.go
  service-common/api/rest/innerServiceCommunicator.go
  service-common/api/rest/paramsRetriever.go
  service-common/config/commonConfig.go
  service-common/core/communicator.go
  service-common/core/server.go
  service-common/go.mod
  service-common/go.sum
  service-common/server/server.go
  service-common/util/util.go
  vanity-service/vanity-chart/values.yaml
Due: none

ref (references) venity import for service-common assigned
  reference-service/api/gRPC/gateway.go
  reference-service/api/gRPC/handler.go
  reference-service/api/gRPC/proto/cast.go
  reference-service/api/gRPC/proto/reference.pb.go
  reference-service/api/rest/handler.go
  reference-service/container/config/containerConfig.go
  reference-service/container/factory/gatewayHandlerFactory.go
  reference-service/container/factory/repositoryFactory.go
  reference-service/container/factory/serverFactory.go
  reference-service/container/factory/usecaseServiceFacrory.go
  reference-service/core/repo/sneakerReferenceRepository.go
  reference-service/core/service/sneakerReferenceSerializer.go
  reference-service/core/service/sneakerReferenceService.go
  reference-service/env/serviceConfig.go
  reference-service/go.mod
  reference-service/go.sum
  reference-service/main.go
  reference-service/startup/startup.go
  reference-service/usecase/business/sneakerReferenceService.go
  reference-service/usecase/business/sneakerReferenceSorter.go
  reference-service/usecase/serializer/json/serializer.go
  reference-service/usecase/serializer/msg/serializer.go
  reference-service/usecase/storage/mongo/repository.go
  reference-service/usecase/storage/postgres/repository.go
Due: references.deploy.k8s

ref (users) venity import for service-common assigned
  user-service/api/gRPC/auth.go
  user-service/api/gRPC/gateway.go
  user-service/api/gRPC/handler.go
  user-service/api/gRPC/interact.go
  user-service/api/gRPC/mail.go
  user-service/api/gRPC/proto/cast.go
  user-service/api/gRPC/proto/user.pb.go
  user-service/api/rest/auth.go
  user-service/api/rest/handler.go
  user-service/api/rest/params.go
  user-service/container/config/containerConfig.go
  user-service/container/factory/gatewayHandlerFactory.go
  user-service/container/factory/repositoryFactory.go
  user-service/container/factory/serverFactory.go
  user-service/container/factory/usecaseServiceFacrory.go
  user-service/core/repo/remoteRepository.go
  user-service/core/repo/userRepository.go
  user-service/core/service/authService.go
  user-service/core/service/userSerializer.go
  user-service/core/service/userService.go
  user-service/env/serviceConfig.go
  user-service/go.mod
  user-service/go.sum
  user-service/main.go
  user-service/startup/startup.go
  user-service/usecase/business/authServiceJTW.go
  user-service/usecase/business/interactService.go
  user-service/usecase/business/mailService.go
  user-service/usecase/business/userService.go
  user-service/usecase/business/userSorter.go
  user-service/usecase/serializer/json/serializer.go
  user-service/usecase/serializer/msg/serializer.go
  user-service/usecase/storage/mongo/likesRepository.go
  user-service/usecase/storage/mongo/remoteRepository.go
  user-service/usecase/storage/mongo/repository.go
  user-service/usecase/storage/postgres/likesRepository.go
  user-service/usecase/storage/postgres/repository.go
  user-service/usecase/storage/redis/repository.go
Due: users.deploy.k8s

ref (common) users venity import used
  service-common/api/gRPC/authClientInterceptor.go
  service-common/api/gRPC/authServerInterceptor.go
  service-common/api/jwt/jwtManager.go
  service-common/core/server.go
  service-common/go.mod
  service-common/server/server.go
Due: none

ref (common) proto file go package import updated
  service-common/api/proto/common.pb.go
  service-common/api/proto/proto.go
  service-common/go.sum
  service-protos/common.proto
  user-service/api/rest/params.go
Due: users.deploy.k8s

ref (users) proto file go package import updated
  reference-service/api/gRPC/proto/reference.pb.go
  reference-service/go.mod
  reference-service/go.sum
  service-protos/auth.proto
  service-protos/interact.proto
  service-protos/mail.proto
  service-protos/reference.proto
  service-protos/user.proto
  user-service/api/gRPC/handler.go
  user-service/api/rest/handler.go
  user-service/container/factory/serverFactory.go
  user-service/env/config.dev.yaml
  user-service/env/serviceConfig.go
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s, references.deploy.k8s

ref (products) venity import for service-common assigned
  product-service/api/gRPC/gateway.go
  product-service/api/gRPC/handler.go
  product-service/api/gRPC/proto/cast.go
  product-service/api/gRPC/proto/product.pb.go
  product-service/api/rest/auth.go
  product-service/api/rest/gateway.go
  product-service/api/rest/handler.go
  product-service/api/rest/params.go
  product-service/container/config/containerConfig.go
  product-service/container/factory/gatewayHandlerFactory.go
  product-service/container/factory/repositoryFactory.go
  product-service/container/factory/serverFactory.go
  product-service/container/factory/usecaseServiceFacrory.go
  product-service/core/repo/sneakerProductRepository.go
  product-service/core/service/sneakerProductSerializer.go
  product-service/core/service/sneakerProductService.go
  product-service/env/serviceConfig.go
  product-service/go.mod
  product-service/main.go
  product-service/products-chart/Chart.yaml
  product-service/startup/startup.go
  product-service/usecase/business/authService.go
  product-service/usecase/business/sneakerProductService.go
  product-service/usecase/business/sneakerProductSorter.go
  product-service/usecase/serializer/json/serializer.go
  product-service/usecase/serializer/msg/serializer.go
  product-service/usecase/storage/mongo/repository.go
  product-service/usecase/storage/postgres/repository.go
  product-service/usecase/storage/redis/repository.go
  service-protos/product.proto
Due: products.deploy.k8s

ref (products) microservice project refactored
  product-service/api/gRPC/handler.go
  product-service/container/factory/gatewayHandlerFactory.go
  product-service/core/repo/sneakerProductRepository.go
  product-service/core/service/authService.go
  product-service/env/.env.dev
  product-service/env/.env.prod
  product-service/env/config.dev.yaml
  product-service/env/config.k8s.yaml
  product-service/env/config.prod.yaml
  product-service/go.mod
  product-service/go.sum
  product-service/usecase/business/sneakerProductService.go
Due: products.deploy.k8s

feat (common) communicator reauest params agruments maked conditional
  service-common/api/rest/innerServiceCommunicator.go
  service-common/config/commonConfig.go
  service-common/core/communicator.go
  service-common/util/util.go
Due: none

feat (common) role access enum added
  service-common/core/meta/roleAccess.go
Due: none

feat (common) role access config type added
  service-common/core/meta/roleAccess.go
Due: none

feat (common) role access config type used in microservice server implementation
  service-common/core/server.go
  service-common/server/server.go
Due: none

ref (search) venity import for service-common assigned + project refactored
  search-service/api/REST/auth.go
  search-service/api/REST/gateway.go
  search-service/api/REST/handler.go
  search-service/api/REST/params.go
  search-service/api/gRPC/gateway.go
  search-service/api/gRPC/handler.go
  search-service/api/gRPC/proto/search.pb.go
  search-service/container/config/containerConfig.go
  search-service/container/factory/gatewayHandlerFactory.go
  search-service/container/factory/pipeFactory.go
  search-service/container/factory/serverFactory.go
  search-service/container/factory/usecaseServiceFacrory.go
  search-service/core/pipe/sneakerProductPipe.go
  search-service/core/pipe/sneakerReferencePipe.go
  search-service/core/service/authService.go
  search-service/core/service/productSearchService.go
  search-service/core/service/productSyncService.go
  search-service/core/service/referenceSearchService.go
  search-service/core/service/referenceSyncService.go
  search-service/core/service/sneakerSearchSerializer.go
  search-service/env/config.dev.yaml
  search-service/env/config.k8s.yaml
  search-service/env/config.prod.yaml
  search-service/env/serviceConfig.go
  search-service/go.mod
  search-service/go.sum
  search-service/main.go
  search-service/search-chart/Chart.yaml
  search-service/startup/startup.go
  search-service/usecase/business/authService.go
  search-service/usecase/business/referenceSearchService.go
  search-service/usecase/business/referenceSyncService.go
  search-service/usecase/business/sneakerReferenceSorter.go
  search-service/usecase/pipes/REST/sneakerReferencePipeHTTP.go
  search-service/usecase/pipes/gRPC/sneakerReferencePipeGRPC.go
  search-service/usecase/serializer/json/serializer.go
  search-service/usecase/serializer/msg/serializer.go
  service-protos/search.proto
Due: search.deploy.k8s

feat (api) role access config type used in gRPC service initialisation
  product-service/api/gRPC/gateway.go
  product-service/go.mod
  product-service/go.sum
  reference-service/api/gRPC/gateway.go
  reference-service/api/rest/handler.go
  reference-service/container/factory/usecaseServiceFacrory.go
  reference-service/env/config.dev.yaml
  reference-service/env/config.k8s.yaml
  reference-service/env/config.prod.yaml
  reference-service/go.mod
  reference-service/go.sum
  reference-service/usecase/business/sneakerReferenceService.go
  user-service/api/gRPC/gateway.go
  user-service/env/.env.dev
  user-service/env/.env.prod
  user-service/env/config.dev.yaml
  user-service/env/config.k8s.yaml
  user-service/env/config.prod.yaml
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s

fix (api) foreign subquery handling fixed
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/usecase/business/orderService.go
  product-service/products-chart/values.yaml
  product-service/usecase/business/sneakerProductService.go
  reference-service/go.sum
  reference-service/references-chart/values.yaml
  reference-service/usecase/business/sneakerReferenceService.go
  search-service/search-chart/values.yaml
Due: references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

fix (api) foreign subquery handling fixed
  cdn-service/env/config.dev.yaml
  cdn-service/env/config.k8s.yaml
  cdn-service/env/config.prod.yaml
  order-service/env/config.dev.yaml
  order-service/env/config.k8s.yaml
  order-service/env/config.prod.yaml
  product-service/env/config.dev.yaml
  product-service/env/config.k8s.yaml
  product-service/env/config.prod.yaml
  reference-service/env/config.dev.yaml
  reference-service/env/config.k8s.yaml
  reference-service/env/config.prod.yaml
  search-service/env/config.dev.yaml
  search-service/env/config.k8s.yaml
  search-service/env/config.prod.yaml
  user-service/env/config.dev.yaml
  user-service/env/config.k8s.yaml
  user-service/env/config.prod.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

fix (users) html mail templates mount to container fixed
  user-service/users-chart/templates/deployment.yaml
Due: users.deploy.k8s

Path conditions:
  users.deploy.k8s: (any of: user-service/**/*) and (not (any of: *.md))
  references.deploy.k8s: (any of: reference-service/**/*) and (not (any of: *.md))
  products.deploy.k8s: (any of: product-service/**/*) and (not (any of: *.md))
  search.deploy.k8s: (any of: search-service/**/*) and (not (any of: *.md))
  orders.deploy.k8s: (any of: order-service/**/*) and (not (any of: *.md))
  cdn.deploy.k8s: (any of: cdn-service/**/*) and (not (any of: *.md))
