Repository nulltea/kicksware-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

Path conditions:
  users.deploy.k8s: (any of: user-service/**/*) and (not (any of: *.md))
  references.deploy.k8s: (any of: reference-service/**/*) and (not (any of: *.md))
  products.deploy.k8s: (any of: product-service/**/*) and (not (any of: *.md))
  search.deploy.k8s: (any of: search-service/**/*) and (not (any of: *.md))
  orders.deploy.k8s: (any of: order-service/**/*) and (not (any of: *.md))
  cdn.deploy.k8s: (any of: cdn-service/**/*) and (not (any of: *.md))

ci (api) init stage replaced by .pre
  .gitlab/.gitlab-ci.compose.yml
Due: none

feat (api) mongo TLS connection handling added
  beta-service/env/serviceConfig.go
  beta-service/usecase/storage/mongo/repository.go
  cdn-service/env/config.k8s.yaml
  cdn-service/env/config.prod.yaml
  cdn-service/env/serviceConfig.go
  cdn-service/usecase/storage/mongo/repository.go
  order-service/env/config.k8s.yaml
  order-service/env/config.prod.yaml
  order-service/env/serviceConfig.go
  order-service/usecase/storage/mongo/repository.go
  product-service/env/config.k8s.yaml
  product-service/env/config.prod.yaml
  product-service/env/serviceConfig.go
  product-service/usecase/storage/mongo/repository.go
  reference-service/env/config.k8s.yaml
  reference-service/env/config.prod.yaml
  reference-service/env/serviceConfig.go
  reference-service/usecase/storage/mongo/repository.go
  user-service/env/config.k8s.yaml
  user-service/env/config.prod.yaml
  user-service/env/serviceConfig.go
  user-service/usecase/storage/mongo/likesRepository.go
  user-service/usecase/storage/mongo/remoteRepository.go
  user-service/usecase/storage/mongo/repository.go
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

fix (api) dependencies added
  beta-service/go.mod
  beta-service/go.sum
  beta-service/usecase/storage/mongo/repository.go
  cdn-service/go.mod
  cdn-service/go.sum
  cdn-service/usecase/storage/mongo/repository.go
  order-service/go.mod
  order-service/go.sum
  order-service/usecase/storage/mongo/repository.go
  product-service/api/rest/gateway.go
  product-service/usecase/storage/mongo/repository.go
  reference-service/usecase/storage/mongo/repository.go
  user-service/usecase/storage/mongo/likesRepository.go
  user-service/usecase/storage/mongo/remoteRepository.go
  user-service/usecase/storage/mongo/repository.go
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

fix (orders) dependencies added
  .gitlab-ci.yml
  order-service/env/serviceConfig.go
Due: orders.deploy.k8s

fix (cdn) dependencies added
  beta-service/env/serviceConfig.go
  cdn-service/env/serviceConfig.go
Due: cdn.deploy.k8s

fix (search) helm chart config values
  .gitlab-ci.yml
  search-service/search-chart/values.yaml
Due: search.deploy.k8s

ci (api) envsubst installed during pipeline execution
  .gitlab-ci.yml
  search-service/search-chart/values.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, search.deploy.k8s

ci (api) registry token env var added
  .gitlab-ci.yml
Due: none

feat (api) config path edited
  beta-service/env/envConfig.go
  cdn-service/env/envConfig.go
  order-service/env/envConfig.go
  product-service/env/envConfig.go
  product-service/products-chart/values.yaml
  reference-service/env/envConfig.go
  reference-service/references-chart/values.yaml
  search-service/env/envConfig.go
  search-service/search-chart/values.yaml
  user-service/env/envConfig.go
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) pull alway policy added to services helm charts
  beta-service/env/.env.dev
  beta-service/env/serviceConfig.go
  cdn-service/env/.env.dev
  cdn-service/env/serviceConfig.go
  order-service/env/.env.dev
  order-service/env/serviceConfig.go
  product-service/env/.env.dev
  product-service/env/serviceConfig.go
  product-service/products-chart/values.yaml
  reference-service/env/.env.dev
  reference-service/env/serviceConfig.go
  reference-service/references-chart/values.yaml
  search-service/env/.env.dev
  search-service/search-chart/values.yaml
  user-service/env/.env.dev
  user-service/env/serviceConfig.go
  user-service/startup/startup.go
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) mongo TLS support WIP
  beta-service/usecase/storage/mongo/repository.go
  cdn-service/env/config.k8s.yaml
  cdn-service/env/config.prod.yaml
  cdn-service/usecase/storage/mongo/repository.go
  order-service/env/config.k8s.yaml
  order-service/env/config.prod.yaml
  order-service/usecase/storage/mongo/repository.go
  product-service/env/config.k8s.yaml
  product-service/env/config.prod.yaml
  product-service/products-chart/templates/deployment.yaml
  product-service/products-chart/values.yaml
  product-service/usecase/storage/mongo/repository.go
  reference-service/env/config.k8s.yaml
  reference-service/env/config.prod.yaml
  reference-service/references-chart/templates/deployment.yaml
  reference-service/references-chart/values.yaml
  reference-service/usecase/storage/mongo/repository.go
  search-service/env/config.k8s.yaml
  search-service/env/config.prod.yaml
  search-service/search-chart/templates/deployment.yaml
  search-service/search-chart/values.yaml
  user-service/env/config.dev.yaml
  user-service/env/config.k8s.yaml
  user-service/env/config.prod.yaml
  user-service/startup/startup.go
  user-service/usecase/storage/mongo/repository.go
  user-service/users-chart/templates/deployment.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) add CDN, orders & beta helm charts + hardlink all templates folders in helm charts
  .gitlab-ci.yml
  beta-service/beta-chart/.helmignore
  beta-service/beta-chart/Chart.yaml
  beta-service/beta-chart/templates/NOTES.txt
  beta-service/beta-chart/templates/_helpers.tpl
  beta-service/beta-chart/templates/configmap.yaml
  beta-service/beta-chart/templates/deployment.yaml
  beta-service/beta-chart/templates/hpa.yaml
  beta-service/beta-chart/templates/ingress.yaml
  beta-service/beta-chart/templates/service.yaml
  beta-service/beta-chart/templates/serviceaccount.yaml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/.helmignore
  cdn-service/cdn-chart/Chart.yaml
  cdn-service/cdn-chart/templates/NOTES.txt
  cdn-service/cdn-chart/templates/_helpers.tpl
  cdn-service/cdn-chart/templates/configmap.yaml
  cdn-service/cdn-chart/templates/deployment.yaml
  cdn-service/cdn-chart/templates/hpa.yaml
  cdn-service/cdn-chart/templates/ingress.yaml
  cdn-service/cdn-chart/templates/service.yaml
  cdn-service/cdn-chart/templates/serviceaccount.yaml
  cdn-service/cdn-chart/values.yaml
  cdn-service/env/config.dev.yaml
  cdn-service/env/config.k8s.yaml
  cdn-service/env/config.prod.yaml
  order-service/orders-chart/.helmignore
  order-service/orders-chart/Chart.yaml
  order-service/orders-chart/templates/NOTES.txt
  order-service/orders-chart/templates/_helpers.tpl
  order-service/orders-chart/templates/configmap.yaml
  order-service/orders-chart/templates/deployment.yaml
  order-service/orders-chart/templates/hpa.yaml
  order-service/orders-chart/templates/ingress.yaml
  order-service/orders-chart/templates/service.yaml
  order-service/orders-chart/templates/serviceaccount.yaml
  order-service/orders-chart/values.yaml
  user-service/users-chart/templates/configmap.yaml
Due: users.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (cdn) health controller and persisternt volume claim added
  beta-service/beta-chart/templates/pvc.yaml
  cdn-service/api/rest/gateway.go
  cdn-service/api/rest/handler.go
  cdn-service/api/rest/health.go
  cdn-service/cdn-chart/templates/pvc.yaml
  cdn-service/cdn-chart/values.yaml
  cdn-service/env/config.k8s.yaml
  order-service/api/rest/gateway.go
  order-service/api/rest/handler.go
  order-service/api/rest/health.go
  order-service/orders-chart/templates/pvc.yaml
  product-service/products-chart/templates/pvc.yaml
  reference-service/references-chart/templates/pvc.yaml
  search-service/search-chart/templates/pvc.yaml
  user-service/users-chart/templates/pvc.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

ci (api) check stage jobs added to deployment pipeline
  .gitlab-ci.yml
  beta-service/beta-chart/values.yaml
  order-service/orders-chart/values.yaml
  product-service/products-chart/values.yaml
  reference-service/references-chart/values.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s

ci (api) success message color changed to cyan
  .gitlab-ci.yml
  cdn-service/cdn-chart/values.yaml
Due: cdn.deploy.k8s

fix (cdn) helm chart voulem mounting
  .gitlab-ci.yml
  cdn-service/cdn-chart/values.yaml
Due: cdn.deploy.k8s

fix (cdn) ci pipeline check stage fixed
  .gitlab-ci.yml
Due: none

feat (api) helm chart persistent volume template WIP
  beta-service/beta-chart/templates/pvc.yaml
  cdn-service/api/rest/gateway.go
  cdn-service/cdn-chart/templates/pvc.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/api/rest/gateway.go
  order-service/orders-chart/templates/pvc.yaml
  product-service/products-chart/templates/pvc.yaml
  reference-service/references-chart/templates/pvc.yaml
  search-service/search-chart/templates/pvc.yaml
  user-service/users-chart/templates/pvc.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) helm charts refactored + added_date field added
  .gitlab/.gitlab-ci.compose.yml
  beta-service/beta-chart/templates/deployment.yaml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/templates/deployment.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/deployment.yaml
  order-service/orders-chart/values.yaml
  product-service/products-chart/templates/deployment.yaml
  product-service/products-chart/values.yaml
  reference-service/core/model/sneakerReferenceModel.go
  reference-service/references-chart/templates/deployment.yaml
  reference-service/references-chart/values.yaml
  reference-service/usecase/storage/mongo/repository.go
  search-service/search-chart/templates/deployment.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/templates/deployment.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

fix (api) helm chart typo fixed
  beta-service/beta-chart/templates/deployment.yaml
  cdn-service/cdn-chart/templates/deployment.yaml
  order-service/orders-chart/templates/deployment.yaml
  product-service/products-chart/templates/deployment.yaml
  reference-service/references-chart/templates/deployment.yaml
  search-service/search-chart/templates/deployment.yaml
  user-service/users-chart/templates/deployment.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (references) relase_strdate field added
  reference-service/core/model/sneakerReferenceModel.go
Due: references.deploy.k8s

ref (api) go module names changed according to new project name
  service-common/core/server.go
  service-common/go.mod
  service-common/go.sum
  service-common/server/server.go
  service-common/service/gRPC/authClientInterceptor.go
  service-common/service/gRPC/authServerInterceptor.go
  service-common/service/jwt/jwtManager.go
Due: none

ref (api) go module names changed according to new project name
  service-common/go.sum
  service-common/service/gRPC/authClientInterceptor.go
  service-common/service/gRPC/authServerInterceptor.go
Due: none

ref (users) go module names changed according to new project name
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s

ref (common) go module names changed according to new project name
  service-common/core/server.go
  service-common/go.mod
  service-common/go.sum
  service-common/server/server.go
  service-common/service/gRPC/authClientInterceptor.go
  service-common/service/gRPC/authServerInterceptor.go
  service-common/service/jwt/jwtManager.go
Due: none

ref (api) go module names changed according to new project name
  cdn-service/go.mod
  cdn-service/go.sum
  order-service/go.mod
  order-service/go.sum
  product-service/go.mod
  product-service/go.sum
  product-service/products-chart/values.yaml
  reference-service/go.mod
  reference-service/go.sum
  reference-service/references-chart/values.yaml
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

ref (api) go module names changed according to new project name (done)
  product-service/env/config.k8s.yaml
  reference-service/env/config.k8s.yaml
  search-service/env/config.k8s.yaml
  search-service/env/serviceConfig.go
  search-service/go.mod
  search-service/go.sum
  search-service/usecase/pipes/gRPC/sneakerReferencePipeGRPC.go
  service-common/go.mod
  service-common/go.sum
  user-service/env/config.k8s.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s

feat (api) rpc api subdomain changed to rpc.kicksware.com
  product-service/products-chart/values.yaml
  reference-service/references-chart/values.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s

feat (api) add CNignore option for non-DNS gRPC certificates
  beta-service/beta-chart/templates/configmap.yaml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/templates/configmap.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/configmap.yaml
  order-service/orders-chart/values.yaml
  product-service/products-chart/templates/configmap.yaml
  product-service/products-chart/values.yaml
  reference-service/references-chart/templates/configmap.yaml
  reference-service/references-chart/values.yaml
  search-service/search-chart/templates/configmap.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/templates/configmap.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (api) recreating pvc condition added to helm chart
  beta-service/beta-chart/templates/pvc.yaml
  cdn-service/cdn-chart/templates/pvc.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/pvc.yaml
  product-service/products-chart/templates/pvc.yaml
  reference-service/references-chart/templates/pvc.yaml
  search-service/search-chart/templates/pvc.yaml
  user-service/users-chart/templates/pvc.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

feat (search) inner service communication configured for gRPC
  search-service/env/config.dev.yaml
  search-service/env/config.k8s.yaml
Due: search.deploy.k8s

feat (common) tls cert handling added to auth client interceptor
  service-common/service/gRPC/authClientInterceptor.go
Due: none

feat (search) tls cert handling added to auth client interceptor
  search-service/go.mod
  search-service/go.sum
  search-service/usecase/pipes/gRPC/sneakerReferencePipeGRPC.go
Due: search.deploy.k8s

feat (users) fallback mail config usage implemented
  user-service/env/config.dev.yaml
  user-service/go.sum
  user-service/usecase/business/mailService.go
Due: users.deploy.k8s

feat (product) count endpoint added
  product-service/api/rest/gateway.go
  product-service/api/rest/handler.go
Due: products.deploy.k8s

git (api) readme markdown WIP + readme logo asset added
  README.md
  assets/kicsware-api-logo.png
Due: none

git (api) readme logo asset renamed
  assets/kicksware-api-logo.png
Due: none
