Repository nulltea/kicksware-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

users.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

references.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

products.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

search.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

orders.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

cdn.deploy.k8s:
  stage: deploy
  tags:
  - k8s
  - api
  before_script:
  - - kubectl create secret docker-registry registry-token -n api --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$CI_JOB_TOKEN --dry-run -o yaml | kubectl apply -f -
  ...

ci (api) except rules added to check jobs
  .gitlab-ci.yml
Due: none

git (api) readme badges added
  README.md
Due: none

ci (api) except rules removed from check jobs
  .gitlab-ci.yml
Due: none

git (readme) badges rearranged
  README.md
Due: none

git (readme) commit-activity link changed
  README.md
Due: none

feat (api) open api config added
  openapi.yaml
Due: none

git (readme) overview, endpoints, autherntification and license sections added
  README.md
Due: none

git (readme) clean acrhitecture custom diagram added
  assets/clean-archtecture.png
Due: none

git (readme) internal design section added
  README.md
  assets/clean-archtecture.png
Due: none

git (readme) clean acrhitecture custom diagram edited
  assets/clean-archtecture.png
Due: none

git (readme) requirements and deployment sections added
  README.md
Due: none

git (readme) wrap up section added. ReadMe is finished
  README.md
Due: none

git (readme) repo logo renamed
  README.md
  assets/repo-logo.png
Due: none

git (readme) markdown WIP
  README.md
Due: none

git (readme) license section WIP
  README.md
Due: none

feat (api) APM monitoring middleware attached
  README.md
  cdn-service/api/rest/gateway.go
  service-common/go.mod
  service-common/go.sum
  service-common/server/server.go
  user-service/api/rest/gateway.go
Due: none

feat (api) apm middleware setuped for services
  reference-service/go.mod
  reference-service/go.sum
  search-service/go.mod
  search-service/go.sum
  service-protos/product.proto
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s, references.deploy.k8s, search.deploy.k8s

git (readme) overview section WIP
  README.md
Due: none

git (readme) TOC added
  README.md
Due: none

feat (api) apm middleware configured for services
  beta-service/beta-chart/templates/deployment.yaml
  beta-service/beta-chart/values.yaml
  cdn-service/cdn-chart/templates/deployment.yaml
  cdn-service/cdn-chart/values.yaml
  order-service/orders-chart/templates/deployment.yaml
  order-service/orders-chart/values.yaml
  product-service/go.mod
  product-service/go.sum
  product-service/products-chart/templates/deployment.yaml
  product-service/products-chart/values.yaml
  reference-service/references-chart/templates/deployment.yaml
  reference-service/references-chart/values.yaml
  search-service/search-chart/templates/deployment.yaml
  search-service/search-chart/values.yaml
  user-service/users-chart/templates/deployment.yaml
  user-service/users-chart/values.yaml
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s, orders.deploy.k8s, cdn.deploy.k8s

ci (readme) content refactored
  README.md
Due: none

fix (grpc) request params cast fixed
  .gitignore
  beta-service/api/gRPC/proto/cast.go
  product-service/api/gRPC/proto/cast.go
  reference-service/api/gRPC/proto/cast.go
  reference-service/env/.env.dev
  reference-service/env/.env.prod
  reference-service/env/config.dev.yaml
  reference-service/env/config.prod.yaml
  reference-service/go.sum
  search-service/api/gRPC/proto/cast.go
  user-service/api/gRPC/proto/cast.go
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s

fix (grpc) request params cast fixed
  beta-service/api/gRPC/proto/cast.go
  product-service/api/gRPC/proto/cast.go
  reference-service/api/gRPC/proto/cast.go
  search-service/api/gRPC/proto/cast.go
  user-service/api/gRPC/proto/cast.go
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s

fix (user) get theme rpc & endpoint added
  service-protos/user.proto
  user-service/api/gRPC/handler.go
  user-service/api/gRPC/proto/user.pb.go
  user-service/api/rest/handler.go
Due: users.deploy.k8s

feat (common) grpc middlewares added
  service-common/core/server.go
  service-common/go.mod
  service-common/go.sum
  service-common/server/server.go
Due: none

feat (user) user settings grpc api handling added
  service-protos/user.proto
  user-service/api/gRPC/proto/cast.go
  user-service/api/gRPC/proto/user.pb.go
  user-service/core/model/settinsModel.go
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s

feat (api) middleware chain setuped
  service-common/server/server.go
Due: none

feat (user) middleware chain setuped
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s

feat (common) method for retrieving user id from context metadata added
  service-common/service/gRPC/authServerInterceptor.go
Due: none

feat (user) user id retrieve from token used in like and mail RPCs
  service-common/service/gRPC/authServerInterceptor.go
  service-common/util/util.go
  user-service/api/gRPC/interact.go
  user-service/api/gRPC/mail.go
  user-service/env/config.dev.yaml
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s

feat (references) user id retrieve from token used for like state defenition + sorting optimisation
  reference-service/api/gRPC/handler.go
  reference-service/api/gRPC/proto/cast.go
  reference-service/go.mod
  reference-service/go.sum
  reference-service/usecase/storage/mongo/repository.go
  user-service/api/gRPC/interact.go
  user-service/api/gRPC/mail.go
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s, references.deploy.k8s

git (beta) go.kicksware.com module name test
  beta-service/api/gRPC/gateway.go
  beta-service/api/gRPC/handler.go
  beta-service/api/gRPC/proto/cast.go
  beta-service/api/rest/handler.go
  beta-service/api/rest/params.go
  beta-service/container/config/containerConfig.go
  beta-service/container/factory/gatewayHandlerFactory.go
  beta-service/container/factory/repositoryFactory.go
  beta-service/container/factory/serverFactory.go
  beta-service/container/factory/usecaseServiceFacrory.go
  beta-service/core/meta/requestParams.go
  beta-service/core/repo/betaRepository.go
  beta-service/core/service/betaSerializer.go
  beta-service/core/service/betaService.go
  beta-service/go.mod
  beta-service/go.sum
  beta-service/main.go
  beta-service/startup/startup.go
  beta-service/usecase/business/authService.go
  beta-service/usecase/business/betaService.go
  beta-service/usecase/serializer/json/serializer.go
  beta-service/usecase/serializer/msg/serializer.go
  beta-service/usecase/storage/mongo/repository.go
  beta-service/usecase/storage/postgres/repository.go
Due: none

feat (references) goat url handling added feat (common) common protobuf package added
  reference-service/api/gRPC/proto/cast.go
  reference-service/api/gRPC/proto/reference.pb.go
  reference-service/core/model/sneakerReferenceModel.go
  service-common/api/proto/common.pb.go
  service-common/api/proto/proto.go
  service-protos/reference.proto
Due: references.deploy.k8s

feat (common) common protobuf cast added
  service-common/api/http/params.go
  service-common/api/proto/cast.go
  service-common/api/proto/common.pb.go
  service-common/core/meta/requestParams.go
  service-common/core/meta/requestQuery.go
  service-common/go.sum
  service-common/util/util.go
  service-protos/common.proto
Due: none

feat (common) common protobuf cast added
  service-common/core/meta/requestParams.go
Due: none

feat (api) grpc protobuf serialization refactored
  product-service/api/gRPC/proto/product.pb.go
  product-service/go.mod
  product-service/go.sum
  reference-service/api/rest/handler.go
  reference-service/go.mod
  reference-service/go.sum
  search-service/api/REST/handler.go
  search-service/api/gRPC/handler.go
  search-service/api/gRPC/proto/cast.go
  search-service/api/gRPC/proto/reference.pb.go
  search-service/api/gRPC/proto/search.pb.go
  search-service/core/meta/requestParams.go
  search-service/core/meta/requestQuery.go
  search-service/core/pipe/sneakerReferencePipe.go
  search-service/core/service/productSyncService.go
  search-service/core/service/referenceSearchService.go
  search-service/core/service/referenceSyncService.go
  search-service/go.mod
  search-service/go.sum
  search-service/usecase/business/referenceSearchService.go
  search-service/usecase/business/referenceSyncService.go
  search-service/usecase/pipes/REST/sneakerReferencePipeHTTP.go
  search-service/usecase/pipes/gRPC/sneakerReferencePipeGRPC.go
  user-service/go.mod
  user-service/go.sum
Due: users.deploy.k8s, references.deploy.k8s, products.deploy.k8s, search.deploy.k8s

feat (order) service configured for production
  order-service/api/gRPC/gateway.go
  order-service/api/gRPC/handler.go
  order-service/api/gRPC/proto/cast.go
  order-service/api/gRPC/proto/orders.pb.go
  order-service/api/rest/auth.go
  order-service/api/rest/gateway.go
  order-service/api/rest/handler.go
  order-service/api/rest/health.go
  order-service/api/rest/params.go
  order-service/container/config/containerConfig.go
  order-service/container/factory/gatewayHandlerFactory.go
  order-service/container/factory/pipeFactory.go
  order-service/container/factory/usecaseServiceFacrory.go
  order-service/core/meta/requestParams.go
  order-service/core/meta/requestQuery.go
  order-service/core/model/orderModel.go
  order-service/core/repo/orderRepository.go
  order-service/core/service/orderService.go
  order-service/env/config.k8s.yaml
  order-service/env/serviceConfig.go
  order-service/go.mod
  order-service/go.sum
  order-service/usecase/business/orderService.go
  order-service/usecase/business/orderSorter.go
  order-service/usecase/storage/mongo/repository.go
  order-service/usecase/storage/postgres/repository.go
  search-service/core/pipe/sneakerReferencePipe.go
  service-protos/orders.proto
Due: search.deploy.k8s, orders.deploy.k8s

feat (users) sunny easter egg handling implemented
  user-service/container/factory/usecaseServiceFacrory.go
  user-service/env/config.k8s.yaml
  user-service/env/serviceConfig.go
  user-service/go.mod
  user-service/usecase/business/authServiceJTW.go
  user-service/usecase/business/userService.go
Due: users.deploy.k8s

Path conditions:
  users.deploy.k8s: (any of: user-service/**/*) and (not (any of: *.md))
  references.deploy.k8s: (any of: reference-service/**/*) and (not (any of: *.md))
  products.deploy.k8s: (any of: product-service/**/*) and (not (any of: *.md))
  search.deploy.k8s: (any of: search-service/**/*) and (not (any of: *.md))
  orders.deploy.k8s: (any of: order-service/**/*) and (not (any of: *.md))
  cdn.deploy.k8s: (any of: cdn-service/**/*) and (not (any of: *.md))
